
  h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
  }
  
  #todo-input {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #add-button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
  }
  
  #add-button:hover {
    background-color: #0062cc;
    cursor: pointer;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  