* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blueviolet;
 }
 h1{
  text-align: center;
 }
 form{
  padding: auto;
  margin-top: auto;
   text-align: center;
  
 }
 .error-message {
   color: red;
 }
